header 
{  
    color: #fff;
    background-image: url(header.jpg);
}

header .header-content .header-content-inner h1 
{
    margin-top: 0;
    margin-bottom: 0;
    text-transform: none;
    font-family:  'Josefin Sans',sans-serif;
    font-size:100px;   
    color:rgba(255, 255, 255, 0.59);    
    padding-top:  600px;
}

#about
{	
	padding: 50px 0px;      
}

.abouttxt
{
    font-family:'Open Sans',sans-serif;	
	font-size: 20px;
	line-height: 30px;
	color: #202626;
    font-weight: lighter;
}

.abouttxtbig
{
    font-family:'Open Sans',sans-serif;	
	font-size: 30px;
	line-height: 30px;
	color: #202626;
    font-weight: lighter;
}

.youtube {background-color: #000000}  
.youtube1 {background-color: #FFFFFF}  
.youtubeart {background-color: #1504c3}  

.linkblue
{
     color: #517FA3;
}

.linkblue:hover
{
     color: #f05f40;
     text-decoration: none;
}

.btn-circle-lg 
{
  width: 170px;
  height: 170px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
  background-color: #517FA3;
  color: #fff;  
  border-style: none;
}

.btn-circle-lg:hover 
{

  background-color: #f05f40; 
   color: #fff; 
   border-style: none;
}

.btn-circle-lg:focus,.btn-circle-lg:active {
   outline: none !important;
   color: #fff; 
}

header .header-content .header-content-inner hr {
    margin: 60px auto;
     font-size:100px;   
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    /*font-size: 16px;
    font-weight: 300;*/
    color: rgba(255,255,255,.7);
     font-size:100px;   
}


.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}



.fixed-panel {
    display: table;
    width: 100%;
    height: 110px; /* for demo only */  
}

.social 
 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height:100px;
    width:100%;

}

#publications {	
	padding: 130px 0px;
}

#tags {	
	padding: 100px 0px;
    margin-top: 0px;    
}

.container hr {
margin: 30px 0;
}

.bg-theme1 {
background-color: #171717;
}

.bg-theme2 {
background-color: #1f1f1f;
}

.bg-white {
background-color: #fff;
}

.bg-pink {
background-color:  #cf6b0b;
}

#publications .container i.pub 
{
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	font-size: 30px;	
	color: #707070;
    font-style: normal;
}

#publications .container i.pub:hover 
{
	color:rgba(240,95,64,.9);
}


#publications .container a.publ
{ 
	text-decoration: none;
}

#tech 
{	
	padding: 0px 0px;
}

#tech .container i.pub 
{
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	font-size: 25px;	
	color: #707070;
    font-style: normal;
     font-weight: lighter;
}

#tech .container a.publ
{ 
	text-decoration: none;
}

.imgfill
{
    width:100%;
}